.input {
  padding: 100px;
  width: 600px;
  height: 400px;
}

.email-input {
  width: 600px;
}

.card {
  min-width: 600px;
  justify-content: center;
}

.btn-tp {
  display: flex;
  justify-content: space-between;
}

.btn-already-log {
  width: 150px;
  background-color: #51f542;
}

.row {
  height: 100vh;
}

#allblock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
