.myClassNavbar {
    justify-content: space-between;
    background-color: rgb(38, 84, 136);
    color: #fff;
    width: 1600px !important;
    height: 100vh !important;
    margin: 0 120px !important;
    justify-content: center;
    box-sizing: border-box;
}