* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
.app-wrapper {
  width: 1230px;
  margin: 0 auto;
  /* grid-gap: 10px*/
}
.app-wrapper-content {
  grid-area: c;
  background-color: #f5eded;
}
.content img {
  max-width: 100%;
}

.pages {
  margin: 20px 0;
}
.page,
.current-page {
  border: 1px solid lightgray;
  border-radius: 100%;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
}
.current-page {
  border-radius: 2px solid grey;
  font-weight: 700;
  background-color: azure;
}
.general-page-name {
  padding: 15px 19px 25px 50px;
}

.name-thirdbtn-homepage {
  margin-bottom: 280px;
}

.card-tittle-text {
  max-width: 290px;
  height: auto;
}

nav ul {
  justify-content: center;
}

.button-home-page {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.navbar-btn {
  display: flex;
  justify-content: space-between;
}

.right-group-btn {
  display: flex;
  align-content: center;
  margin-left: 765px;
}

.left-group-btn {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.table-setting {
  width: 80%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
.table-setting th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
.table-setting td {
  border: 1px solid #dddddd;
  padding: 5px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  padding-left: 582px;
  margin-bottom: 280px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(191, 69, 59);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(191, 69, 59) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
